// Required
@import "bootstrap/scss/bootstrap";


$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;


$colors: (
        blue: $blue,
        indigo: $indigo,
        purple: $purple,
        pink: $pink,
        red: $red,
        orange: $orange,
        yellow: $yellow,
        green: $green,
        teal: $teal,
        cyan: $cyan,
        white: $white,
        gray: $gray-600,
        gray-dark: $gray-800
) !default;

.full-screen {
  min-height: 94vh;
}

.primary-color {
  background-color: $teal;
}
i.large {
  font-size: 36px;
}
.bg-atraumatic {
  margin-top: -32px;
  background: url("atraumaticBG.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.black {
  background-color: $black;
}
.red-text {
  color: $red;
}
.padding-top-10 {
  padding-top: 16px;
}
.margin-top-10 {
  margin-top: 16px;
}
.margin-bottom-10 {
  margin-bottom: 16px;
}
.icon {
  cursor: pointer;
  float: right;
  line-height: 32px !important;
}
.no-margin {
  margin: 0 !important;
}
.search-button {
  border: 0;
  border-top-right-radius: 0 !important;
}
.no-top-padding {
  padding-top: 0;
}
.no-bottom-padding {
  padding-bottom: 0;
}
.no-border-left-top {
  border-left: 0;
  border-top-left-radius: 0;
}
.primary-color-text {
  color: $teal;
}
.no-border {
  border: 0 !important;
}
.width-auto {
  width: auto !important;
}
.bg-imaged {
  margin-top: -32px;
  background: url("equipment-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mark-title {
  line-height: 2.0;
  padding: 8px;
  color: white;
  background-color: rgba(80,80,80,0.7);
}
.padding-bottom-60 {
  padding-bottom: 62px;
}
.padding-bottom-10 {
  padding-bottom: 14px !important;
}
.padding-16 {
  padding: 16px;
}
.gone {
  display: none;
}
.add-button {
  padding-bottom: 4px;
  padding-top: 12px;
}
.padding-left-12 {
  padding-left: 12px;
}
.capitalize {
  text-transform: capitalize;
}
.stick-To-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 23px;
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
html {
  position: relative;
  min-height: 100%;
}
body {
  //margin-bottom: 60px; /* Margin bottom by footer height */
}
.full-height {
  height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
  line-height: 60px;
  background-color: #f5f5f5;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 9999999;
  left: 50%;
  top: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
